# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
eclipse/saves/New World/playerdata/a2831e23-8b0f-3ec4-8539-58e8d4db780a.dat
.gradle/4.2/fileContent/annotation-processors.bin
.gradle/4.2/fileContent/fileContent.lock
.gradle/4.2/fileHashes/fileHashes.bin
.gradle/4.2/fileHashes/fileHashes.lock
.gradle/4.2/fileHashes/resourceHashesCache.bin
.gradle/4.2/taskHistory/fileSnapshots.bin
.gradle/4.2/taskHistory/taskHistory.bin
.gradle/4.2/taskHistory/taskHistory.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin
eclipse/config/forge.cfg
eclipse/config/forgeChunkLoading.cfg
eclipse/config/splash.properties
eclipse/logs/2020-09-01-1.log.gz
eclipse/logs/2020-09-01-2.log.gz
eclipse/options.txt
eclipse/saves/New World/data/Mineshaft.dat
eclipse/saves/New World/data/villages.dat
eclipse/saves/New World/DIM-1/data/villages.dat
eclipse/saves/New World/DIM-1/forcedchunks.dat
eclipse/saves/New World/DIM1/data/villages.dat
eclipse/saves/New World/DIM1/forcedchunks.dat
eclipse/saves/New World/forcedchunks.dat
eclipse/saves/New World/level.dat
eclipse/saves/New World/level.dat_mcr
eclipse/saves/New World/level.dat_old
eclipse/saves/New World/playerdata/b7b35306-5dd2-3898-a137-7b342b456059.dat
eclipse/saves/New World/playerdata/c6c946a7-7334-3c2c-8670-50d9130a2dd5.dat
eclipse/saves/New World/region/r.-1.-1.mca
eclipse/saves/New World/region/r.-1.0.mca
eclipse/saves/New World/region/r.0.-1.mca
eclipse/saves/New World/region/r.0.0.mca
eclipse/saves/New World/session.lock
eclipse/saves/New World/stats/a2831e23-8b0f-3ec4-8539-58e8d4db780a.json
eclipse/saves/New World/stats/b7b35306-5dd2-3898-a137-7b342b456059.json
eclipse/saves/New World/stats/c6c946a7-7334-3c2c-8670-50d9130a2dd5.json
eclipse/Season/blocks.txt
eclipse/Season/keys.txt
eclipse/Season/mods.txt
eclipse/Season/values.txt
eclipse/usernamecache.json
out/production/Season1.7.10/assets/fonts/simpleton.otf
out/production/Season1.7.10/javax/vecmath/ExceptionStrings.properties
out/production/Season1.7.10/mcmod.info
out/production/Season1.7.10/org/newdawn/slick/command/package.html
out/production/Season1.7.10/org/newdawn/slick/data/defaultfont.fnt
out/production/Season1.7.10/org/newdawn/slick/data/defaultfont.png
out/production/Season1.7.10/org/newdawn/slick/data/helvetica_svg
out/production/Season1.7.10/org/newdawn/slick/data/package.html
out/production/Season1.7.10/org/newdawn/slick/data/particle.tga
out/production/Season1.7.10/org/newdawn/slick/fills/package.html
out/production/Season1.7.10/org/newdawn/slick/geom/package.html
out/production/Season1.7.10/org/newdawn/slick/gui/package.html
out/production/Season1.7.10/org/newdawn/slick/imageout/package.html
out/production/Season1.7.10/org/newdawn/slick/loading/package.html
out/production/Season1.7.10/org/newdawn/slick/muffin/package.html
out/production/Season1.7.10/org/newdawn/slick/openal/package.html
out/production/Season1.7.10/org/newdawn/slick/opengl/package.html
out/production/Season1.7.10/org/newdawn/slick/package.html
out/production/Season1.7.10/org/newdawn/slick/particles/effects/package.html
out/production/Season1.7.10/org/newdawn/slick/particles/package.html
out/production/Season1.7.10/org/newdawn/slick/state/package.html
out/production/Season1.7.10/org/newdawn/slick/svg/package.html
out/production/Season1.7.10/org/newdawn/slick/tests/package.html
out/production/Season1.7.10/org/newdawn/slick/tests/states/package.html
out/production/Season1.7.10/org/newdawn/slick/tests/xml/package.html
out/production/Season1.7.10/org/newdawn/slick/tiled/package.html
out/production/Season1.7.10/org/newdawn/slick/util/package.html
out/production/Season1.7.10/org/newdawn/slick/util/pathfinding/package.html
out/production/Season1.7.10/org/newdawn/slick/util/xml/package.html
Season1.7.10.iml
Season1.7.10.ipr
Season1.7.10.iws
.gradle/4.2/fileContent/annotation-processors.bin
.gradle/4.2/fileContent/fileContent.lock
.gradle/4.2/fileHashes/fileHashes.bin
.gradle/4.2/fileHashes/fileHashes.lock
.gradle/4.2/fileHashes/resourceHashesCache.bin
.gradle/4.2/taskHistory/fileSnapshots.bin
.gradle/4.2/taskHistory/taskHistory.bin
.gradle/4.2/taskHistory/taskHistory.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/4.2/fileContent/annotation-processors.bin
.gradle/4.2/fileContent/fileContent.lock
.gradle/4.2/fileHashes/fileHashes.bin
.gradle/4.2/fileHashes/fileHashes.lock
.gradle/4.2/fileHashes/resourceHashesCache.bin
.gradle/4.2/taskHistory/fileSnapshots.bin
.gradle/4.2/taskHistory/taskHistory.bin
.gradle/4.2/taskHistory/taskHistory.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin
