# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\MinecraftClient-Dev\Season1.7.10\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
